<a href="https://colab.research.google.com/github/Meghana-Gubbala03/Calculator_project_MicroIT/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
a = np.array([1,2,3])
print(a)

[1 2 3]

In [3]:
a = np.array([1,2])
b = np.array([3,4])
print(a+b)

[4 6]

In [4]:
arr = np.array([5,8,3,6])
print(arr)
print(arr.shape)
print(arr[1:3]) #Slicing

[5 8 3 6]
(4,)
[8 3]

In [5]:
print(arr - 2)

[3 6 1 4]

In [8]:
import pandas as pd
ages = np.array([13,25,19])
names = ['Emma', 'Swetha', 'Serajh']

series1 = pd.Series(ages, index=names)
print(series1)

Emma      13
Swetha    25
Serajh    19
dtype: int64

In [9]:
dataf = pd.DataFrame([
    ['John smith','123 Main St', 34],
    ['jane Doe', '456 Maple awe',28],
    ['joe Schmo', '789 Boardway',51]
  ],
    columns = ['name','address','age'])

dataf.set_index('name', inplace=True)
print(dataf)

                  address  age
name
John smith    123 Main St   34
jane Doe    456 Maple awe   28
joe Schmo    789 Boardway   51